* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #024e64;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 100%;
	min-width: 400px;
	margin: 20px auto 0;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "contenido contenido contenido"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	background: #12203E;
	color: #fff;
	position: fixed;
	width: 100%;
	height: 50px;
	border-radius: 4px;
	padding: 20px 0;
	margin-top: -20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor .header .navbar a {
	color: white;
	margin: 0 15px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 3px 3px 10px rgb(214, 206, 248);
}


.contenedor .contenido {
	grid-area: contenido;
	background-color: #024e64;
}

.containers .welcome {
	height: 100vw;
	max-height: 900px;
	background-color: #024e64;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #E9ECF4;
	text-shadow: 1px 1px 3px black;
}

.containers .welcome .title {
	font-size: 40px;
	text-align: center;
	margin-bottom: 15px;
}

.containers .welcome .descrip {
	font-size: 20px;
	text-align: right;
}

.containers .proj {
	background-color: #e7e9ec;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 4px;
	grid-auto-rows: minmax(100px, auto);
	border-radius: 5px;
	margin-bottom: 100px;
	box-shadow: 2px 2px 5px black;
}
.project-tile {
	grid-column: 1 / -1;
	grid-row: 1;
	text-align: center;
	margin: 20px 0;
	margin-top: 60px;
	color: #12203E;
}
.one {
	grid-column: 2 / 3;
	grid-row: 2;
	text-align: center;
	align-self: center;
	padding: 40px 20px;
	border-radius: 5px;
}
.two {
	grid-column: 3 / 4;
	grid-row: 2;
	text-align: center;
	align-self: center;
	padding: 40px 20px;
	border-radius: 5px;
}
.three {
	grid-column: 2 / 3;
	grid-row: 3;
	text-align: center;
	align-self: center;
	padding: 40px 20px;
	border-radius: 5px;
}
.four {
	grid-column: 3 / 4;
	grid-row: 3;
	text-align: center;
	align-self: center;
	padding: 40px 20px;
	border-radius: 5px;
}

.proj .project-tile h2 {
	margin-bottom: 8px;
}
 .proj .project-tile p {
	font-size: 16px;
	font-weight: bold;
}

 .proj a {
	text-decoration: none;
	color: #12203E ;
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
 }

 .proj a img {
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
	margin-bottom: 15px;
	width: 400px;
	height: 250px;
	object-fit: cover;
 }


.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
	height: 50px;
	border-radius: 4px;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor .footer .redes a {
	color: white;
	margin: 0 15px;
	font-size: 18px;
	text-decoration: none;
	text-shadow: 1px 1px 10px #828385;
}

@media (max-width: 950px) {
	.containers .proj {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
	 }
	 .project-tile {
		grid-column: 1 / -1;
		grid-row: 1;
	 }
	 .one {
		grid-column: 2;
		grid-row: 2;
	 }
	 .two {
		grid-column: 2;
		grid-row: 3;
	 }
	 .three {
		grid-column: 2;
		grid-row: 4;
	 }
	 .four {
		grid-column: 2;
		grid-row: 5;
	}

	.contenedor .footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 300px;
		text-align: center;
	}
	
	.contenedor .footer .redes a {
		display: block;
		margin: 30px;
	}

}


@media (max-width: 500px) {
	.project-tile h2 {
		font-size: 16px;
	}
	.proj a img {
		width: 300px;
	}
	.contenedor .header .navbar a {
		font-size: 16px;
	}
	.containers .welcome .title {
		font-size: 30px;
	}
	
	.containers .welcome .descrip {
		font-size: 18px;
		text-align: center;
	}
}

@media (max-width: 450px) {
	.containers .welcome {
		margin-top: 200px;
	}
	.containers .welcome .title {
		font-size: 25px;
	}
	
	.containers .welcome .descrip {
		font-size: 16px;
		text-align: center;
	}
	.contenedor .header {
		height: 200px;
		text-align: center;
	}
	
	.contenedor .header .navbar a {
		font-size: 16px;
		display: block;
		margin: 30px;
	}
}