* {
   margin: 0;
   padding: 0;
}

/* .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-column: 2;
  grid-row: 1;
}

.container .navbar {
  background-color: black;
}
.container .navbar a {
  color: white;
  text-decoration: none;
} */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "contenido contenido contenido"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #fAA43D;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "footer footer footer";
	}
}




/* .wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   grid-auto-rows: minmax(100px, auto);
 }
 .one {
   grid-column: 1;
   grid-row: 1;
   background-color: orange;
   opacity: 0.3;
 }
 .two {
   grid-column: 2;
   grid-row: 2;
   background-color: orange;
   opacity: 0.3;
 }
 .three {
   grid-column: 3;
   grid-row: 3;
   background-color: orange;
   opacity: 0.3;
 }
 .four {
   grid-column: 3;
   grid-row: 3;
   background-color: orange;
   opacity: 0.3;
 }
 .five {
   grid-column: 2;
   grid-row: 2;
   background-color: orange;
   opacity: 0.3;
 }
 .six {
   grid-column: 1;
   grid-row: 1;
   background-color: orange;
   opacity: 0.3;
 } */